.contentDetail-IconBox {
    margin-right: 1.5rem;
    width: 20px;
    height: 20px;
}

.contentDetail-Icon {
    width: 20px;
    height: 20px;
}

.PopoverHeader-custom {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: .5px;
}

.contentDetail-Body {
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
}