.btnTxt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.header {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.leftMenu-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
}

.leftMenu-row-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 70px;
}

.leftMenu-col-2 {width: 40%}
/* .col-btn {width: 20%} */